In [4]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
from datetime import datetime

In [ ]:
!pip install pandas

In [6]:
data = pd.read_csv('2023-2024-Horana-cleaned.csv') 

data['DATE'] = pd.to_datetime(data['DATE'])

data['NetAmount'] = data['NetAmount'].abs()

data['SalesPersonCode']
data.head()

        DATE      Time SalesPersonCode  NetAmount
0 2023-01-01   9:22 AM             265      490.0
1 2023-01-01   9:43 AM             430     1290.0
2 2023-01-01   9:45 AM             544     3790.0
3 2023-01-01  10:09 AM             265     3975.0
4 2023-01-01  10:16 AM             525     2290.0

In [7]:
last_year = data['DATE'].dt.year.max()

last_year_data = data[data['DATE'].dt.year == last_year]

valid_sales_persons = last_year_data['SalesPersonCode'].unique()

filtered_data = data[data['SalesPersonCode'].isin(valid_sales_persons)]

filtered_data.to_csv('filtered_Horana_cleaned.csv', index=False)

filtered_data.head()

        DATE      Time SalesPersonCode  NetAmount
0 2023-01-01   9:22 AM             265      490.0
1 2023-01-01   9:43 AM             430     1290.0
3 2023-01-01  10:09 AM             265     3975.0
6 2023-01-01  10:19 AM             430     1490.0
7 2023-01-01  10:21 AM             254     4590.0

In [ ]:
!pip install tensorflow
!pip install shap
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
import shap